<mat-table [dataSource]="dataSource" #updateBooking>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.lastName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let booking">
      <button (click)="onDeleteBooking(booking.id)" type="button">
        <mat-icon aria-hidden="false" aria-label="home icon" color="warn"
          >delete_outline</mat-icon
        >
      </button>
      <button (click)="updateBooking.selectedIndex = 1" type="button">
        <mat-icon aria-hidden="false" aria-label="home icon" color="warn"
          >edit_outline</mat-icon
        >
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<ng-template #noBookings>
  <h5>There are not booking to list</h5>
</ng-template>
