<section
  class="container"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <h1 class="mat-h1">
    Track your pro hours in one place!
  </h1>
  <h2>Already have an account?</h2>

  <div>
    <button mat-raised-button class="button" (click)="auth.googleSignin()">
      <span><img src="../../../assets/google.svg" width="18px;"/></span> Login
      with Google
    </button>
  </div>
</section>
<section
  class="container"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <h2>Or</h2>
  <section>
    <section>
      <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
      >
        <div *ngIf="!isLoginMode"></div>
        <ng-template [ngIf]="!isLoginMode">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Your name"
              ngModel
              name="displayName"
              required
            />
          </mat-form-field>
        </ng-template>

        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Your email"
            ngModel
            name="email"
            required
            email
          />
          <mat-hint>Please enter a valid email.</mat-hint>
          <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Your password"
            ngModel
            name="password"
            required
            minlength="6"
          />
          <mat-hint>Please enter your password.</mat-hint>
          <mat-error>Missing password.</mat-error>
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="authForm.invalid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
      </form>
      <div
        class="container"
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <button mat-raised-button color="primary" (click)="onSwitchMode()">
          {{ isLoginMode ? "Switch to Sign Up" : "Switch to Login" }}
        </button>
      </div>
    </section>
  </section>
  <section>
    <h3 class="color-warning">Beta Version: 0.1</h3>
    <div class="features">
      <h3>Features</h3>
      <li>Track your tennis lessons in one plac.e</li>
      <li>Available in Mobile and Destop version.</li>
    </div>
  </section>
</section>
