.container {
  margin: 2rem;
  text-align: center;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features li {
  margin: 0;
}
.container h1 {
  font-style: italic;
  font-weight: 400;
}

.container h2 {
  font-weight: 500;
}
