<div class="container">
  <h2>Admin</h2>
  <div *ngIf="auth.user$ | async as user">
    <mat-grid-list cols="2" rowHeight="2.5rem">
      <mat-grid-tile class="mat-h2">Name: {{ user.displayName }}</mat-grid-tile>
      <mat-grid-tile class="mat-h2"
        >Total Amount:
        {{ totalAmount | currency: "USD":"symbol" }}</mat-grid-tile
      >
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="mat-h2 color-warning">
        Total Overdue:
        {{ totalOverdue | currency: "USD":"symbol" }}</mat-grid-tile
      >
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="mat-h2 color-primary">
        Total Paid:
        {{
          totalAmount - totalOverdue | currency: "USD":"symbol"
        }}</mat-grid-tile
      >
    </mat-grid-list>
  </div>
</div>

<mat-toolbar>
  <div fxFlex fxLayout fxLayoutAlign="center">
    <a
      mat-button
      color="primary"
      routerLink="./activities"
      routerLinkActive="mat-accent"
      [routerLinkActiveOptions]="{ exact: true }"
      >Activities</a
    >
    <a
      mat-button
      color="primary"
      routerLink="./new-booking"
      routerLinkActive="mat-accent"
      >New Booking</a
    >
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
