.container {
  margin: 10%;
  width: 90%;
}

mat-toolbar a {
  font-size: large;
}
td {
  width: 60%;
}

td:nth-child(2) {
  font-weight: 700;
}
.mat-grid-tile .mat-figure {
  background: lawngreen;

  justify-content: flex-start !important ;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 2%;
  }
  .container h2 {
    margin: 1% auto;
    font-size: 90%;
  }

  .mat-h2 {
    font-size: 90%;
  }

  mat-toolbar {
    height: 10%;
  }
}
