<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onAddBooking(f, newBooking, newClient)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="500px">
      <mat-card-title fxLayoutAlign="center">Add your class!</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Name"
            ngModel
            name="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Last Name"
            ngModel
            name="lastName"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Email"
            ngModel
            name="email"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
            ngModel
            name="date"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Time</mat-label>
          <input
            matInput
            type="time"
            placeholder="8:00 AM"
            ngModel
            name="time"
            aria-label="12hr format"
            value="18:00"
          />
          <mat-hint>8:00 AM</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Hours"
            ngModel
            name="hours"
          />
        </mat-form-field>
        <mat-form-field>
          <span matPrefix>$ &nbsp;</span>
          <input
            type="number"
            matInput
            placeholder="Amount"
            ngModel
            name="amount"
          />
        </mat-form-field>

        <mat-slide-toggle ngModel name="status" color="primary" value="false">
          Paid
        </mat-slide-toggle>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          (click)="openSnackBar()"
          [disabled]="f.invalid"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
